{{#>layout}}
<div>
    <table>
        <tr>
            <th>职位</th>
            <th>数量</th>
            <th>学历</th>
            <th>工作地点</th>
            <th>发布时间</th>
        </tr>
        {{#each section.content}}
        <tr>
            <td>{{job}}</td>
            <td>{{count}}</td>
            <td>{{education}}</td>
            <td>{{position}}</td>
            <td>{{create_time}}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <div>职位要求</div>
                <p>{{{description}}}</p>
            </td>
            <td colspan="2">
                <div>岗位职责</div>
                <p>
                    {{{duty}}}
                </p>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/layout}}